.map-container {
  height: 400px;
  width: 100%;
}

.map-ref {
  height: 100%;
}

.btn {
  font-size: 30px;
}

.streetView {
  height: 400px;
  width: 100%;
}

* {
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
